body {
	background: rgba(44, 62, 80,1.0);
	font-family:arial;
}

#flashLearn{
	position:relative;
	display:block;
	font-size:8em;
	color: white;
	font-family:Tahoma;
	text-align:center;
	margin: 0 auto;
	width:65%;
	top:150px;
	background-color: rgba(192, 57, 43,1.0);
	border-radius:50px;
	padding:5%;
}

a{
	text-decoration: none;
	color:  white;
}