body {
	background: black;
}

nav{
	height: 15%;
	width: 110%;
	background-color: rgba(0,0,255,0.7);
	color: white;
	margin-top: -22px;
	margin-left: -10px;
}

#navName{
	padding-top: 1%;
	margin-left: 3%;
	font-size: 1.3em;
	font-family: arial;
}

#card {
	border-radius: 30px;
	border: none;
	position:absolute;
    width:700px;
    height:450px;
    top:50%;
    left:50%;
    margin:-225px 0 0 -350px;
	background: white;
	text-align: center;
}


.qText {
	padding: 2%;
}

.qImg {
	margin: 0 auto;
	height:300px;
}

.qBody {
	padding:10%;
	font-family:arial;
	font-size:1.5em;
}

.question {
	text-align: center;
	font-family:georgia;
	font-size:30pt;
	font-weight: none;
	padding-top: 2%;
}

.answer {
	text-align: center;
	font-family:georgia;
	font-size:30pt;
	font-weight: none;
	padding-top: 20%;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}