body {
font-family: Arial;
font-size: 14pt;
text-align: center;
color: black;
background: blue;
}

.card {
position: relative;
display: inline-block;
border-radius: 10px;
border: none;
text-align: center;
width: 300px;
height: 550px;
background: white;
margin: zero auto;
}